/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "PT Sans", sans-serif;
}

.container{
    width: 85%;
    margin: 0 auto;
}

.btn{
    border-radius: 50px;
}


/* HEADER */
header{
    background-color: #3e79fc;
    height: 70px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

}

#logo{
    width: 30%;
}

#hamburger{
    width: 10%;
    font-size: 25px;
    color: white;
}

nav{
    display: none;
}

a{
    text-decoration: none;
}


/************ RESPONSIVE HEADER *************/

/* TABLET */

/* DESKTOP */
@media all and (min-width: 1025px) {
    header .container{
        width: 70%;
    }
    
    #hamburger{
        display: none;
    }

    nav{
        display: block;
    }

    nav ul{
        list-style-type: none;
        display: flex;
        gap: 20px;  
    }

    nav ul a{
        color: white;
    }

    nav li{
        display: flex;
        align-items: center;
    }
    
    .btn-white{
        padding: 10px 20px;
        background-color: white;
    }
    
    .btn-white a{
        color: black;
    }
    
}

/************ -------------------------- *************/



/* MAIN */

/* Sezione funzionalità */

#function{
    padding-bottom: 50px;
    /* DEBUG */
    background-color: blanchedalmond;
}

#function .container{
    margin-top: 40px; 
}


#function h3{
    color: #3e79fc;
    padding-bottom: 20px;
}

#function p{
    color: rgb(95, 93, 93);
    padding-bottom: 20px;
}

/* caratteristiche card */
.col{
    background-color: #badbff;
    border-radius: 10px;
    margin-bottom: 20px;

    /* capire se hanno senso */
    padding: 20px 20px;

    /* DEBUG */
    height: 100px;
}

/* caratteristica card doppia */
.col-2{
    background-color: #badbff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
}

/* container interno della card doppia */
.col-2 div{
    width: 80%;
    margin: 0 auto;
}

.btn-blue{
    background-color: #3e79fc;
    padding: 7px 40px;
    color: white;
}

.btn-blue i{
    padding-right: 10px;
}

.col-2 img{
    width: 100%;
}



/************ RESPONSIVE MAIN - Sezione funzionalità *************/

/* TABLET */
@media all and (min-width: 569px){
    #function .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #function .col-2{
        width: calc((100% / 3)*2 - 5px);
        background-color: #badbff;
        border-radius: 10px;
        margin-bottom: 20px;

        /* DEBUG */
        /* height: 100px; */
    }

    #function .col{
        width: calc((100% / 3) - 10px);
    }
}

/* DESKTOP */
@media all and (min-width: 1025px){
    #function .container{
        width: 70%;
    }

    #function .col-2{
        padding-left: 20px;
        display: flex;
        align-items: start;
    }

}

/******** --------------------------------------------------*******/





/* Sezione Strategic Plan */
#strategic-plan{
    background-color: #9b8ce4;
    padding-bottom: 30px;
}

#strategic-plan .container{
    padding-top: 40px;
    /* DEBUG */
    height: 400px;
    background-color: rgb(174, 120, 120);
}

#strategic-plan .container div{
    width: 100%;
    /* DEBUG */
    height: 50%;
    background-color: white;
    border: 1px solid black;
}


/************ RESPONSIVE MAIN - Sezione Strategi plan *************/

/* TABLET */


/* DESKTOP */
@media all and (min-width: 1025px){

    #strategic-plan .container{
        width: 70%;
        display: flex;
        align-items: end;
    }

    #strategic-plan .container div{
        width: 50%;

        /* DEBUG */
        height: 100%;
    }
    

}

/************ ---------------------------------------- *************/






/* Sezione Testimonial */
#testimonials{
    padding-bottom: 70px;
    /* DEBUG */
    background-color:blanchedalmond;
}

#testimonials .container{
   text-align: center;
   padding-top: 40px;
}

#testimonials .container h3{
    font-weight: 500;
}

#testimonials .container h3, h2, p{
    margin-bottom: 30px;
 }

#testimonials .container .col div{
    width: 90%;
    margin: 0 auto;

    /* DEBUG */
    height: 50%;
    background-color: white;
    border: 1px solid black;
}


/************ RESPONSIVE MAIN - Sezione Testimonial *************/

/* TABLET */
@media all and (min-width: 569px){

    #testimonials .container .col{
       display: flex;
       align-items: center;
    }

}

/* DESKTOP */
@media all and (min-width: 1025px){
    #testimonials .container{
        width: 70%;
    }

}

/************ ---------------------------------------- *************/





/* Sezione Working with Us */
#working-wus{
    /* pensare se fare una classe bg-violet */
    background-color: #9b8ce4;
    padding-bottom: 30px;
}

#working-wus .container{
    text-align: center;
    padding-top: 40px;
    color: white;
 }


/************ RESPONSIVE MAIN - Sezione Working with Us *************/

/* TABLET */
@media all and (min-width: 569px){
    #working-wus .col{
        width: calc(50% - 10px);
    }
    

    #working-wus .container div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* DESKTOP */
@media all and (min-width: 1025px){
    #working-wus .container{
        width: 70%;
    }

    #working-wus .col{
        width: calc((100% / 3) - 10px);
    }

}

/************ ---------------------------------------- *************/



/* Sezione About Us*/
#about-us .container{
    padding: 50px 0;
}

.cit{

    /* DEBUG */
    height: 100px;
    background-color: brown;
}

/************ RESPONSIVE MAIN - Sezione About Us *************/

/* TABLET */
@media all and (min-width: 569px){
    #about-us .container{
        display: flex;
        justify-content: space-between;
    }

    .info-about-us{
        width: 50%;
    }

    .cit{
        width: 40%;
    }
}

/* DESKTOP */
@media all and (min-width: 1025px){
    #about-us .container{
        width: 70%;
    }

}

/************ ---------------------------------------- *************/






/* Sezione Get started*/
#get-started{
    padding: 50px 0;
    /* pensare se fare una classe bg-violet */
    background-color: #9b8ce4;
    
}

#get-started .container{
    padding: 50px 0;
    max-width: 500px;
    text-align: center;
    /* pensare se fare una classe bg-violet */
    background-color:brown;
    height: 300px;
    
}


/************ RESPONSIVE MAIN - Sezione Get started *************/

/* TABLET */
@media all and (min-width: 569px){

}

/* DESKTOP */
@media all and (min-width: 1025px){


}

/************ ---------------------------------------- *************/



/* FOOTER */
footer{
    background-color: #333333;
}

footer .container{
    text-align: center;
    padding: 30px 0;
    color: white;
    max-width: 300px;
}

/************ RESPONSIVE FOOTER *************/

/* TABLET */
@media all and (min-width: 569px){
  
}

/* DESKTOP */
@media all and (min-width: 1025px){


}

/************ ---------------------------------------- *************/



/* FOOTER */