/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "PT Sans", sans-serif;
    line-height: 1.7em;
}

.container{
    width: 85%;
    margin: 0 auto;
}


:root{
    --bg-even: #9593e4;
    --text-color-even: white;
    --h2-color-odd: #9593e4;
    --h2-padding: 50px 0;
}


/* HEADER */
header{
    background-color: #3e79fc;
    height: 70px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

}

#logo{
    width: 30%;
}

#hamburger{
    width: 10%;
    font-size: 25px;
    color: white;
}

nav{
    display: none;
}

a{
    text-decoration: none;
}


/************ RESPONSIVE HEADER *************/

/* TABLET */

/* DESKTOP */
@media all and (min-width: 1025px) {
    header .container{
        width: 70%;
    }
    
    #hamburger{
        display: none;
    }

    nav{
        display: block;
    }

    nav ul{
        list-style-type: none;
        display: flex;
        gap: 20px;  
    }

    nav ul a{
        color: white;
    }

    nav li{
        display: flex;
        align-items: center;
    }
    
    .btn-white{
        border-radius: 50px;
        padding: 10px 20px;
        background-color: white;
    }
    
    .btn-white a{
        color: black;
    }
    
}

/************ -------------------------- *************/



/* MAIN */

/* Sezione funzionalità */

#function{
    padding-bottom: 50px;
}

#function .container{
    margin-top: 40px; 
}


#function h3{
    color: #3e79fc;
    padding-bottom: 20px;
}

#function p{
    color: rgb(95, 93, 93);
    padding-bottom: 20px;
}

/* caratteristiche card */
.col{
    background-color: #badbff;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;

    /* capire se hanno senso */
    padding: 20px 20px;
}

/* caratteristica card doppia */
.col-2{
    background-color: #badbff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
}

/* container interno della card doppia */
.col-2 div{
    width: 80%;
    margin: 0 auto;
}

/* bottone blu */
.btn-blue{
    border-radius: 50px;
    background-color: #3e79fc;
    padding: 7px 40px;
    color: white;
    letter-spacing: 2px;
}

.btn-blue i{
    padding-right: 10px;
}

/* contenitore immagine */
#demo-img-container{
    display: flex;
    align-items: end;
}

.col-2 img{
    max-width: 250px;
    padding-top: 40px;
}

/* caratteristiche delle icone nelle card singole */
#function .col i{
    font-size: 70px;
    color: #3e79fc;
    padding: 10px 0 20px;
}


/************ RESPONSIVE MAIN - Sezione funzionalità *************/

/* TABLET */
@media all and (min-width: 569px){
    #function .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #function .col-2{
        width: calc((100% / 3)*2 - 5px);
        background-color: #badbff;
        border-radius: 10px;
        margin-bottom: 20px;

    }

    #function .col{
        width: calc((100% / 3) - 10px);
    }
}

/* DESKTOP */
@media all and (min-width: 1025px){
    #function .container{
        width: 70%;
    }

    #function .col-2{
        padding: 20px 20px 0;
        display: flex;
    }

    .col-2 div{
        width: 48%;
    }

}

/******** --------------------------------------------------*******/





/* Sezione Strategic Plan */
#strategic-plan{
    background-color: var(--bg-even);
    padding-bottom: 30px;
}

#strategic-plan .container{
    padding-top: 40px;
}

#strategic-plan .container div{
    width: 100%;
}


#strategic-plan img{
    width: 100%;
}

#strategic-plan h2{
    font-size: 2rem;
    color: var(--text-color-even);
    padding: var(--h2-padding);
}

#strategic-plan p{
    color: var(--text-color-even);
    padding-bottom: 40px;
}

.card-white{
    border-radius: 50px;
    padding: 30px 20px;
    background-color: white;
    text-align: center;
}

#strategic-plan .card-white h2, #strategic-plan .card-white p{
    color: black;
}

#strategic-plan .card-white h2{
    font-size: 1.5rem;
    padding: 20px 0;
}

.card-white i{
    background-color: var(--bg-even);
    border-radius: 100px;
    padding: 20px 22px;
}


/************ RESPONSIVE MAIN - Sezione Strategi plan *************/

/* TABLET */


/* DESKTOP */
@media all and (min-width: 1025px){

    #strategic-plan .container{
        width: 70%;
        display: flex;
        align-items: end;
        justify-content: space-between;
    }

    #strategic-plan .container div{
        width: 48%;
    }
    
    
    #strategic-plan .card-white img{
        width: 70%;
    }

}

/************ ---------------------------------------- *************/






/* Sezione Testimonial */
#testimonials{
    padding-bottom: 70px;
}

#testimonials .container{
   text-align: center;
   padding-top: 40px;
}

#testimonials .container h3{
    font-weight: 500;
}

#testimonials .container h3, #testimonials .container h2, #testimonials .container p{
    margin-bottom: 30px;
 }

 #testimonials .container h2{
    color: var(--h2-color-odd);
    font-size: 2rem;
    line-height: 40px;
 }

 #testimonials .col{
    background-color: var(--bg-even);
    padding: 30px 10px;
    border-radius: 50px;
 }

#testimonials .container .col div{
    margin: 0 auto;
    color: white;
}

.img-profilo{
    max-width: 200px;
}

.img-profilo img{
    width:100%;
    border-radius: 150px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.quote-start{
    padding-right: 5px;
}

.quote-end{
    padding-left: 5px;
}

.name{
    display: block;
    font-weight: 900;
    padding-top: 20px;
}


/************ RESPONSIVE MAIN - Sezione Testimonial *************/

/* TABLET */
@media all and (min-width: 569px){

    #testimonials .container .col{
       display: flex;
       align-items: center;
    }

    #testimonials .container .col div{
        width: 60%;
        text-align: start;
        margin: 0 50px 0 10px;
  }
    
    
    #testimonials .container .col .img-profilo{
        width: 60%;
    }

}

/* DESKTOP */
@media all and (min-width: 1025px){
    #testimonials .container{
        width: 70%;
    }

}

/************ ---------------------------------------- *************/





/* Sezione Working with Us */
#working-wus{
    background-color: var(--bg-even);
    padding-bottom: 30px;
}

#working-wus .container{
    text-align: center;
 }

#working-wus h2{
    font-size: 2rem;
    /* fare una var? */
    line-height: 40px;
    color: white;
    padding: var(--h2-padding);
}

#working-wus .card-white{
    text-align: start;
    border-radius: 20px;
    padding: 40px 25px;

    /* aspect ratio? */
    /* aspect-ratio: 1 / 1; */
}

.card-white span, .card-white h3{
    color: var(--h2-color-odd);
    padding: 20px 0;
} 

.card-white span{
    display: block;
    font-size: 40px;
    font-weight: 900;
}

.card-white h3{
    font-size: 1.5rem;
}

.card-white p{
    color: #6e6c6c;
    padding-bottom: 30px;
}

.card-white .btn-blue{
    background-color: var(--bg-even);
    font-weight: 900;
}
 


/************ RESPONSIVE MAIN - Sezione Working with Us *************/

/* TABLET */
@media all and (min-width: 569px){
    #working-wus .col{
        width: calc(50% - 10px);
    }
    

    #working-wus .container>div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* DESKTOP */
@media all and (min-width: 1025px){
    #working-wus .container{
        width: 70%;
    }

    #working-wus .col{
        width: calc((100% / 3) - 10px);
    }

}

/************ ---------------------------------------- *************/



/* Sezione About Us*/
#about-us .container{
    padding: 30px 0 60px;
    line-height: 40px;
}

.info-about-us h2{
    color: var(--h2-color-odd);
    font-size: 2.3rem;
    padding: var(--h2-padding);
}

/* imm in relative per mettere quote */
#about-us .img-profilo{
    padding-top: 40px;
    position: relative;
}

/* caratteristiche quote e posizionamento sopra immagine */
#about-us .img-profilo i{
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 60px;
    color: var(--h2-color-odd);
}

#citazione span{
    display: block;
    color: var(--bg-even);
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}


#citazione .btn-blue{
    letter-spacing: normal;
    padding: 7px 15px;
    background-color: var(--bg-even);
}



/************ RESPONSIVE MAIN - Sezione About Us *************/

/* TABLET */
@media all and (min-width: 569px){
    #about-us .container{
        display: flex;
        justify-content: space-between;
        padding-bottom: 125px;
    }

    /* modifica grandezza sezione info */
    .info-about-us{
        width: 50%;
    }

    /* modifica grandezza citazione */
    .cit{
        width: 40%;
    }

    /* ingrandimento titolo e immagine profilo */
    .info-about-us h2{
        font-size: 3.3rem;
    }

    #about-us .img-profilo{
        max-width: 230px;
    }
}

/* TABLET intermedio */
@media all and (min-width: 644px) {
    .info-about-us h2{
        font-size: 4.3rem;
    }
    
}

/* DESKTOP */
@media all and (min-width: 1025px){
    #about-us .container{
        width: 70%;
    }

}

/************ ---------------------------------------- *************/






/* Sezione Get started*/
#get-started{
    padding: 50px 0;
    background-color: var(--bg-even);
}


/* container degli elementi */
#get-started .container{
    max-width: 528px;
    text-align: center;
    color: white;    
}

/* prende solo get started */
#get-started span:first-child{
    letter-spacing: 2px;
    color:rgb(199, 198, 219);
}

/* caratteristiche primo h2 */
#get-started .container h2:first-of-type{
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0 30px;
    line-height: 40px;
}

/* caratteristiche secondo h2 */
#get-started .container h2:last-of-type{
    color: #f7c561;
    font-size: 60px;
    font-weight: bold;
    padding: 20px 0 40px;
}

#get-started p{
    margin-bottom: 40px;
}

/* caratteristiche bottone */
#get-started a.card-white{
    padding: 15px 60px;
    color: var(--h2-color-odd);
    font-weight: 900;
    letter-spacing: 2px;
    margin: 45px 0;
}

/* caratteristiche copyright e privacy */
#get-started .container span:last-child{
    display: block;
    margin-top: 40px;
}

#get-started .container span a{
    color: white;
    text-decoration: underline;
}



/************ RESPONSIVE MAIN - Sezione Get started *************/

/* TABLET */
@media all and (min-width: 569px){

    /* modifica primo h2 */
    #get-started .container h2:first-of-type{
        font-size: 41px;
    }

    /* modifica secondo h2 */
    #get-started .container h2:last-of-type{
        font-size: 80px;
    }

    /* modifica bottone */
    #get-started a.card-white{
        padding: 25px 75px;
    }

}

/* Tablet intermedio */
@media all and (min-width: 621px) {

    /* ingrandisce font di Simple, transaperent pricing */
    #get-started .container h2:first-of-type{
        font-size: 45px;
    } 
}

/* DESKTOP */
@media all and (min-width: 1025px){


}

/************ ---------------------------------------- *************/



/* FOOTER */
footer{
    background-color: #333333;
}

footer .container{
    text-align: center;
    color: white;
    max-width: 380px;
    line-height: normal;
}

footer .container p{
    padding: 30px 0;
}

footer .container a{
    color: var(--h2-color-odd);
    text-decoration: underline;
}

/************ RESPONSIVE FOOTER *************/

/* TABLET */
@media all and (min-width: 569px){
  
}

/* DESKTOP */
@media all and (min-width: 1025px){


}

/************ ---------------------------------------- *************/